<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18393069355-7j6mebic74q6poefstl1atb7dc3fhfrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18393069355-7j6mebic74q6poefstl1atb7dc3fhfrf</string>
	<key>API_KEY</key>
	<string>AIzaSyBrQL1_WcceAkgWEINWUZLSPxwlS1wWWLk</string>
	<key>GCM_SENDER_ID</key>
	<string>18393069355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.st-ventures.firebasePush</string>
	<key>PROJECT_ID</key>
	<string>stv-push-test</string>
	<key>STORAGE_BUCKET</key>
	<string>stv-push-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18393069355:ios:99cefb2ac8f429d9c3776e</string>
	<key>DATABASE_URL</key>
	<string>https://stv-push-test.firebaseio.com</string>
</dict>
</plist>